DEBUG=TRUE
SECRET_KEY=django-insecure-zl0-)_u#cz7xwakj*067%(t&0zo4i$&%p$9g*n(k8_*=ufx3=c
PRODUCTION=TRUE
ALLOWED_HOSTS=['*']

#DB
DB_PORT=5432
DB_HOST=postgres
DB_NAME=skillbox
DB_PASSWORD=skillbox
DB_USER=skillbox
WEB_URL='http://web:8000'
TELEGRAM_BOT_TOKEN=5165256166:AAEiOcY8S0SFCFsKSqW_77nMdYuEw-zgQ4c