DEBUG=TRUE
SECRET_KEY=django-insecure-zl0-)_u#cz7xwakj*067%(t&0zo4i$&%p$9g*n(k8_*=ufx3=c
PRODUCTION=TRUE
ALLOWED_HOSTS=['*']

#DB
DB_PORT=5432
DB_HOST=localhost
DB_NAME=animals
DB_PASSWORD=postgres
DB_USER=postgres